<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">

	<!-- Compiled and minified Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<!-- Linking Font Awesome -->
    <script src="https://use.fontawesome.com/b38c8ed4c7.js"></script>

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Open Menu Sequel Menu</title>
</head>

<body>
	<img src="/assets/img/comic.jpg" width="400px" id="cute_burger">

	{{{ body }}}

	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">© 2019 mavstronaut</span>
				<a class="grey-text text-lighten-4 right" href="https://saymeta.com">Portfolio</a>
			</div>
		</div>
	</footer>
</body>
</html>
